# Workspace
workspace/

# Checkpoints
checkpoints/
*.ckpt

# Logs and Backups
logs/
backup/
*.log
*.bak
wandb/

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# IDE
.vscode/
.idea/

# Ray
/tmp/ray/
